.container-category div:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: #f4bfbf;
	/*animacion de derecha a izquierda*/
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out;
}
.container-category div:hover:after {
	/*animacion de derecha a izquierda*/
	transform-origin: left;
	transform: scaleX(1);
}
