header {
	display: flex;
	min-height: 70px;
	background-color: #f4bfbf;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 75px;
	margin-right: 10px;
}

.titulo {
	text-transform: uppercase;
	font-weight: 400;
}

.nav-container {
	width: 100%;
}

nav ul li {
	display: inline;
	font-weight: 400;
	padding-right: 10px;
}

nav a:hover {
	color: #f0f0f0;
}

@media (max-width: 768px) {
	header {
		flex-direction: column;
	}

	nav {
		padding: 10px 0px;
	}
}
