header {
	display: flex;
	min-height: 70px;
	background-color: #f4bfbf;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

a {
	text-decoration: none;
	color: black;
}

.titulo {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 22px;
}

nav a {
	font-weight: 400;
	padding-right: 10px;
}

nav a:hover {
	color: #f0f0f0;
	text-decoration-line: underline;
}

@media (max-width: 768px) {
	header {
		flex-direction: column;
	}

	nav {
		padding: 10px 0px;
	}
}
