.btn-carrito {
	width: 90%;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0 auto;
}

.btn {
	border: 0px;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
	padding: 5px 50px;
	cursor: pointer;
}

.agregar-carrito {
	width: 90%;
	font-size: 15px;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
	cursor: pointer;
}

.agregar-carrito:hover {
	background-color: #cbd5d0;
}
